# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build folders
build/
cmake-build*

# Fetched board-sdk
board_sdk

# Ozone tmp debug file
*.user

# Fetched libraries
lib/

# IDE folders
.vscode/
.idea/
.cache/

src/RTT